@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-primary-content hover:bg-primary-focus;
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-content hover:bg-secondary-focus;
  }
  .btn-error {
    @apply bg-error text-white hover:bg-error-focus;
  }
  .btn-sm {
    @apply py-1 px-3 text-sm;
  }
}

body {
    background-color: theme('colors.base-100');
}

#app-layout > main:not(:has(#test-chat)) {
    max-height: 100vh;
    overflow-y: auto;
    padding: 2rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: theme('colors.base-200');
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.base-300');
  border-radius: 10px;
  border: 2px solid theme('colors.base-200');
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.neutral');
}

details[open] > summary .details-arrow {
  transform: rotate(180deg);
}