@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-accent-gradient {
    background-image: linear-gradient(145deg, #FF2095 5%, #2038D8 55%, #00AEE4 93%);
  }

  .text-accent-gradient {
    background: linear-gradient(145deg, #FF2095 5%, #2038D8 55%, #00AEE4 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

body {

    background-color: black;
}