@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-base-100 rounded-lg;
  }

  .card-login {
    @apply bg-base-100 rounded-lg p-6 shadow-lg;
  }

  @media screen and (min-width: 768px) {
    .card {
      @apply p-6 shadow-lg;
    }
  }

  .btn {
    @apply font-bold py-2 px-4 rounded transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-primary-content hover:bg-primary-focus;
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-content hover:bg-secondary-focus;
  }
  .btn-error {
    @apply bg-error text-white hover:brightness-90;
  }
  .btn-sm {
    @apply py-1 px-3 text-sm;
  }

  .send-button > svg {

    position: relative;
    transform: rotate(45deg);
    left: -3px;
  }
}

body {
    background-color: theme('colors.base-100');
}

#app-layout > main:not(:has(#test-chat)) {

    max-height: 100dvh;
    overflow-y: auto;
    padding: 2rem;
}

@media screen and (max-width: 768px){

    #app-layout > main:not(:has(#test-chat)) {

        padding: 2rem 20px;
    }
}

main:has(#test-chat) {

    max-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: theme('colors.base-200');
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.base-300');
  border-radius: 10px;
  border: 2px solid theme('colors.base-200');
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.neutral');
}

details[open] > summary .details-arrow {
  transform: rotate(180deg);
}